@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Luckiest+Guy&display=swap");

// FONT VARIABLES
$font-primary: "Bubblegum Sans", sans-serif;
$font-headline: "Luckiest Guy", cursive;
$font-size-primary: 2.4rem;
$font-weight-primary: 400;

// COLLORS
$font-color-primary: #002366;
$font-color-secondary: #5c4033;

$background-color-primary: #fcc419;
$background-color-btn: #ffec99;
$background-color-btn-hover: #fab005;
$color-black: #000;

///Querias
$bp-medium: 29em; //464px
$bp-small: 27em; //432px
$bp-smaller: 25em; //400px
$bp-smallest: 23em; //368px

//Animation
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes head {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.8;
  }

  100% {
    transform: scale(1) rotate(-8deg);
    opacity: 1;
  }
}

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

///Querias

///////////////////////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 56%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-smaller) {
    font-size: 45%;
  }
}

body {
  font-size: $font-size-primary;
  font-family: $font-primary;
  color: $font-color-secondary;
  font-weight: $font-weight-primary;
  background-color: $background-color-primary;
  // letter-spacing: $letter-spacing;
}

///////////////////////////////////////////////////////////////////////
%common-input-styles {
  background-color: $background-color-btn;
  border: solid $background-color-btn 0.2rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  border-radius: 1rem;
  text-decoration: none;
  font-family: inherit;
  color: $color-black;
  font-size: 1.8rem;
  cursor: pointer;
  animation: moveInBotton 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition: all 0.3s;
}

//////////////////////////////////////////////////////////////////
///
.app {
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
}

////////////////////////////////////////////////////////////////////
///
.btn {
  @extend %common-input-styles;

  padding: 0.8rem 0;
  height: 4.2rem;
  width: 16.4rem;

  &__text {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: $background-color-btn-hover;
  }

  &:hover &__text {
    transform: scaleX(-1);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(0.25rem);
  }
}

////////////////////////////////////////////////////////////////////////

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  margin-bottom: 2.4rem;

  &__img {
    height: 18.8rem;
    animation: grow 1.5s ease-in-out;

    @media only screen and (max-width: $bp-smallest) {
      height: 16.8rem;
    }
  }

  &__heading-primary {
    text-align: center;
    font-family: $font-headline;
    letter-spacing: 4px;
    animation: head 1.5s ease-in-out;
    transform: rotate(-8deg);
    @media only screen and (max-width: $bp-smallest) {
      font-size: 3.6rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////

.joking-text {
  text-align: center;
  padding: 2rem 4rem;
  height: 20rem;
  display: flex;
  flex-direction: column;

  &__text {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
  }
}

///////////////////////////////////////////////////////////////////////

.cta {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;

  &__select {
    @extend %common-input-styles;

    padding: 0.8rem 1.6rem;

    &:hover {
      background-color: $background-color-btn-hover;
    }
  }
}

///////////////////////////////////////////////////////////////////////
.copyright {
  margin-top: 9.6rem;
  text-align: center;
  font-size: 1.6rem;
  padding: 1.2rem 0;
}

////////////////////////////////////////////////////////////////////////
.spinner {
  margin: -1.2rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $font-color-secondary;
    animation: rotate 2s infinite linear;
  }
}
